

@font-face {
    font-family: 'angrybirds';
    src: url('../Decouverte javascript/fonts/angrybirds-regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body{
    height:100vh;
    width: auto;
    background-image: url(img/fond-1440x900.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fill;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* opacity: 0.9; */
    padding: 20px;

}

#text{
 width:30vw;

/* display:flex;
flex-direction: column;
flex-grow: 2; */
/* align-items: center;
justify-content: space-around; */

}

#commandes, #score{
    border-radius: 50px;
    font-size: 2rem;
    font-family: 'angrybirds', 'angrybirds2','angrybirds1';
    font-weight: bold;
    border: 1px double;
    align-self:flex-end;
    margin-bottom: 50px;
    background-color: azure;
    padding: 20px;
}

#commandes{
  text-align: center;
}

h1{
  /* width:100vw; */
  font-family: 'angrybirds';
  font-size: 5rem;
  font-weight: bold;
}

#plateau{
    flex-grow: 8;
    /* position: relative;  */

}
#pion{
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  margin = 0;
  position: absolute;
  z-index: 100;
}

#pion.explode{
  background-image: url('img/explosion.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ennemi{
background-image: url('img/blackbird.png');
background-size: contain;
background-position: center;
background-repeat: no-repeat;

}

.ennemi.dead{
background-image: url('img/explosion.gif');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.floor{
  background-color: #7ff709;
}

.breakableWall{
  background-image: url("img/woodwall.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.breakableWall.fire{
  background-image: url('img/fire.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bomb{
  background-image: url('img/birdbomb.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bomb.explode{
  background-image: url('img/explosion.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
