
div.container-fluid {
  /* background-image: url(img/fond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* opacity: 0.5; */
  background-size: cover;
  display: flex;
  /* padding : 0; */
}

#plateau{
  height: 100wh;
  width: auto;
  position: relative;
  justify-content: flex-end;
}
#pion{
  width: 40px;

  height: 40px;
  top: 0px;
  left: 0px;
  margin = 0;
  position: absolute;
  z-index: 100;
}

#pion.explode{
  background-image: url('img/explosion.gif');
}

.ennemi{
background-image: url('img/blackbird.png');
background-size: contain;
background-position: center;

}

.ennemi.dead{
background-image: url('img/explosion.gif');
background-size: contain;
background-position: center;

}

.floor{
  background-color: #7ff709;

}

.breakableWall{
  background-image: url("img/woodwall.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.breakableWall.fire{
  background-image: url('img/feu.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bomb{
  background-image: url('img/birdbomb.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bomb.explode{
  background-image: url('img/explosion.gif');
}
